<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Fake Currency Detector</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
</head>
<body>
  <div class="container">
    <img src="{{ url_for('static', filename='background.jpg')}}" alt="Money Logo" class="logo" />

    <div class="scan-button" onclick="handleClick(event)">
      Scan
    </div>
    <div id="result"></div>
  </div>

  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>



